@CHARSET "UTF-8";
body{
	font-family: Ariel, sans-serif;
}

#main{
	margin-top: 120px;
	margin-bottom: 60px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

header{
	display: inline;
	position:absolute;
	top:0px;
	left: 0px;
	height: 100px;
	min-width: 100%;
	width: 100%;
	padding-left: 10px;
	background-image: linear-gradient(-90deg, #3A1FA8, #61D5FF);
	color: white;
	font-size: 40px;
	line-height: 70px;
}

input{
	outline: none;
}

#main-logo{
	float: left;
}

#search-form{
	position: absolute;
	margin-top: 20px;
	display: inline-block;
	height: 30px;
	width: 700px;
	line-height: 20px;
	border: none;
}

#search-box{
	margin: 0;
	float:left;
	height: 30px;
}

#category{
	appearance: none;
	border-radius: 0;
	background: #fff;
	vertical-align: middle;
	color: black;
	box-sizing: content-box;
	border: 0;
	margin: 0;
	float:left;
	height: 30px;
	width: 140px;
	font-size: 12px;
	text-align: center;
}

#search{
	margin: 0;
	float: left;
	height: 24px;
	width: 300px;
}

.search-btn{
	position: relative;
	margin: 0;
	float: left;
	height: 30px;
	width: 35px;
	background-color: #ffa200;
	box-sizing:border-box;
	border: none;
	color: black;
	box-shadow: none;
	outline: none;
	inline: none;
	text-align: center;
	line-height: 22px;
}

.search-btn:hover{
	cursor: pointer;
	opacity: 0.9;
}

#header-container{
	position: absolute;
	margin-top: 40px;
	margin-left: 180px;
	width: 700px;
}

#itemmenu{
	float: left;
}

#acountmenu{
	float: right;
}

#welcome{
	float: right;
}

.dropmenu{
float: left;
  *zoom: 1;
  list-style-type: none;
  width: 700px;
  height:30px;
  margin: 5px auto 30px;
  padding: 0;
  font-size: 14px;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.dropmenu li{
  position: relative;
  width: 30%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.dropmenu li .b-btn, .c-btn{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  width: 100%;
  background: #fff;
  box-shadow: 3px 3px 10px #cccccc;
  color: black;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  border: transparent 1px solid ;
  transition: 0.2s;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
    border: 1px solid #aaa;
    transition: opacity 0.2s linear;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li .b-btn{
  padding: 13px 15px;
  background: #fff;
  text-align: center;
}
.dropmenu li:hover > .b-btn{
  background: #59c5ff;
  transition: .2s;
}
.dropmenu li .b-btn:hover{
  	letter-spacing: 3px;
	background-color: #59c5ff;
	color: #fff;
}

.dropmenu li ul li .c-btn{
  padding: 13px 15px;
  background: #fff;
  text-align: center;
}
.dropmenu li:hover > .c-btn{
  background: #00d977;
  transition: .2s;
}
.dropmenu li .c-btn:hover{
  	letter-spacing: 3px;
	background-color: #00d977;
	color: #fff;
}

#normal li ul{
  display: none;
}
#normal li:hover ul{
  display: block;
}

#dropmenu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}

#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
}

footer{
	clear: both;
	bottom: 0;
	width: 100%;
	height: 40px;
	line-height: 50px;
	position: relative;
	text-align: center;
}

.blank {
	padding-left: 25px;
	font-size: 30px;
	color: #9F295E;

}


/* table */

table {
    margin: 0 auto;
    border-spacing: 2px;
    text-align: center;
}

table tr td {
		width: 1044px;
    border: 1px solid #ccc;
    vertical-align: middle;
}

table tr th {
	width: 1000px;
    border: 1px solid #ccc;
    vertical-align: middle;
}


td{
	border-right: 1px solid #ccc;
}
th {
	padding: 1.3px;
	border-right: 1px solid #ccc;
	background: #EEE;
}

thead,
tbody {
	padding: 0;
    display: block;
}

tbody {
    overflow-y: scroll;
    height: 300px;        /* 高さはお好みで */
}



table .check0 { width: 65px;  }
table .cart1 { width: 78px;  }
table .cart2 { width: 101px;  }
table .cart3 { width: 148px;  }
table .cart4 { width: 80px;  }
table .cart5 { width: 39px;  }
table .cart6 { width: 80px;  }
table .cart7 { width: 129px;  }
table .cart8 { width: 129px;  }
table .cart9 { width: 129px;  }

table .check1 { width: 65px;  }
table .cart10 { width: 80px;  }
table .cart11 { width: 100px;  }
table .cart12 { width: 150px;  }
table .cart13 { width: 80px;  }
table .cart14 { width: 40px;  }
table .cart15 { width: 80px;  }
table .cart16 { width: 130px;  }
table .cart17 { width: 130px;  }
table .cart18 { width: 130px;  }

table.zebra tr:nth-child(2n) td {
	background-color: #E9F4FC;
}

.allPrice {
	color: #9F295E;
	font-size: 40px;
}

#deletebtn{
	text-align: right;
	margin: 20px;
}

#deletebtn input[type=submit] {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
	right: 0;
}

#deletebtn input[type=submit]:hover {
	background: #4691A4;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
.pay{
	margin: 0 auto;
	text-decoration: none;
    background: #4B99AD;
    padding: 5px 7px 5px 7px;
    border: none;
    color: white;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.pay:hover{
    background: #428191;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}
