@CHARSET "UTF-8";
#main {
	margin-top: 0px;
	margin-bottom: 60px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

.main1 {
	padding: 20px;
	width: 100%;
	height: 300px;
}

.main2 {
	width: 650px;
	text-align: center;
	font-size: 20px;
}

.main3 {
	padding: 20px;
	width: 100%;
	height: 380px;
}

.review2 {
	float: left;
	width: 650px;
}

.rating {
	float: left;
	position: relative;
	width: 5em;
	height: 100px;
	font-size: 40px;
	position: relative;
}

.rating-front {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #ffcc33;
}

.rating-back {
	color: #ccc;
}

.botton1 {
	float: right;
	margin: 10px;
}

.text {
	border: solid;
	border-width: 1px;
	width: 600px;
	font-size: 25px;
	min-height: 200px;
	font-family: monospace;
	border-color: rgb(169, 169, 169);
}

.form-style {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style :hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}