@CHARSET "UTF-8";
a {
	text-decoration: none;
}

a:visited {
	color: #0066c0;
	text-decoration: none
}

#main {
	margin-top: 0px;
	margin-bottom: 60px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

.main1 {
	padding: 20px;
	width: 100%;
	height: 380px;
}

.rating {
	float: left;
	position: relative;
	width: 5em;
	height: 100px;
	font-size: 40px;
}

.rating-front {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	color: #ffcc33;
}

.rating-back {
	color: #ccc;
}

.botton1 {
	float: right;
	margin: 10px;
}

.main2 {
	width: 100%;
	clear: both;
}

.a:hover {
	color: #eb1515;
	cursor: pointer;
	text-decoration: underline;
}

.review2 {
	float: left;
	width: 650px;
}

.text {
	width: 600px;
	height: 200px;
	font-size: 25px;
}

.form-style {
	background: #4B99AD;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}
.form-style :hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}