@CHARSET "UTF-8";
body{
	margin: 0;
	font-family: Ariel, sans-serif;
}
.clearfix:after {
	content: "";
	clear: both;
	display: block;
}

header{
	height: 100px;
	width: 100%;
	background-image: linear-gradient(-90deg, #3A1FA8, #61D5FF);
	color: white;
	font-size: 40px;
	line-height: 70px;
}

input{
	outline: none;
}

#main-logo{
	float: left;
	height: 100px;
	padding-left: 10px;
}

#search-form{
	position: absolute;
	display: inline-block;
	padding-top: 20px;
	margin-left: 60px;
	height: 30px;
	line-height: 20px;
}

#search-box{
	margin: 0;
	float:left;
	height: 30px;
}

#category{
	appearance: none;
	background: #fff;
	vertical-align: middle;
	color: black;
	box-sizing: content-box;
	border: 0;
	border-right: 1px solid #d7d7d7;
	border-radius: 5px 0 0 5px;
	margin: 0;
	float:left;
	height: 30px;
	width: 140px;
	font-size: 12px;
	text-align: center;
}

#search{
	margin: 0;
	float: left;
	height: 24px;
	width: 300px;
}

.search-btn{
	position: relative;
	margin: 0;
	float: left;
	height: 30px;
	width: 35px;
	background-color: #ffa200;
	box-sizing:border-box;
	border: none;
	border-radius: 0 5px 5px 0;
	color: black;
	box-shadow: none;
	outline: none;
	inline: none;
	text-align: center;
	line-height: 22px;
}
.search-btn input {
	padding-top: 5px;
}
.search-btn:hover{
	cursor: pointer;
	opacity: 0.9;
}

#header-container{
	position: absolute;
	display: inline-block;
	width: 600px;
	height: 50px;
	margin-top: 50px;
	margin-left: 30px;
}

#itemmenu{
	float: left;
	width: 180px;
	height: 100%;
}

#acountmenu{
	float: left;
	width: 180px;
	height: 100%;
}

#welcome{
	float: right;
	height: 45px;
}

.dropmenu{
float: left;
  *zoom: 1;
  list-style-type: none;
  width: 700px;
  height:45px;
  margin: 5px auto 0;
  padding: 0;
  font-size: 14px;
}
.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}
.itemmenu, .acountmenu {
  position: relative;
  width: 30%;
  float: left;
  margin: 0;
  padding: 0;
  text-align: center;
}
.drop-topic {
	display: inherit;
	height: 100%;
	text-align: center;
}
.b-btn, .c-btn{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  width: 100%;
  background: #fff;
  box-shadow: 3px 3px 10px #cccccc;
  color: black;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  border: transparent 1px solid ;
  transition: 0.2s;
}
.item-drop, .acount-drop {
  display: none;
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  width: 180px;
  margin: 0;
  padding: 0;
    border: 1px solid #aaa;
    transition: opacity 0.2s linear;
}

.item-drop li{
  width: 100%;
}
.acount-drop li {
	width: 100%;
}
.dropmenu li:hover ul{
  display: block;
}

.dropmenu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}

.dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
}
.b-btn{
  padding: 13px 15px;
  background: #fff;
  text-align: center;
}
.acount-drop:hover > .b-btn{
  background: #59c5ff;
  transition: .2s;
}
.b-btn:hover{
  	letter-spacing: 3px;
	background-color: #59c5ff;
	color: #fff;
}

.c-btn{
  padding: 13px 15px;
  background: #fff;
  text-align: center;
}
.item-drop:hover > .c-btn{
  background: #00d977;
  transition: .2s;
}
.c-btn:hover{
  	letter-spacing: 3px;
	background-color: #00d977;
	color: #fff;
}

.item-drop {
  display: none;
}



#main{
	margin: 50px 5px 60px ;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}

footer{
	clear: both;
	bottom: 0;
	width: 100%;
	height: 45px;
	line-height: 50px;
	position: relative;
	text-align: center;
	background-image: linear-gradient(-90deg, #3A1FA8, #61D5FF);
	color: white;
}
