@CHARSET "UTF-8";


header{
	display: inline;
	position:fixed;
	top:0px;
	left: 0px;
	height: 100px;
	min-width: 100%;
	width: 100%;
	padding-left: 10px;
	background-image: linear-gradient(-90deg, #5265D1, #2FB3CA);
	color: white;
	font-size: 15px;

}


#main-logo{
	float: left;
    position:relative;
    width: 200px;
    height: 100px;
    margin:0px auto;

}

#main-logo img {
	height: 100px;
}

#main-logo a{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#menu{
	pojision: relative;
	height: 100px;
	width:100%;
	margin-left: 230px;
}

#search-form{
	position:absolute;
	right: 0;
	width: 500px;
	margin-top: 20px;
	display: inline-block;
	height: 30px;
	line-height: 20px;
}

#search-box{
	margin: 0;
	float:left;
	height: 30px;
}

#category{

	margin: 0;
	float:left;
	height: 30px;
}

#search{

	margin: 0;
	float: left;
	height: 24px;
	width: 300px;
}

.search-btn{
	position: relative;
	top: 1px;
	margin: 0;
	float: left;
	height: 29px;
	width: 35px;
	background-color: #ffa200;
	box-sizing:border-box;
	border: none;
	color: black;
	box-shadow: none;
	outline: none;
	inline: none;
	text-align: center;
	line-height: 22px;
}

.search-btn:hover{
	cursor: pointer;
	opacity: 0.9;
}

#header-container{
	clear: both;
	position: fixed;
	right: 0;
	top: 50px;
	width: 500px;
	height: 50px;
	float: right;
}

.header-menu{
	line-height: 50px;
	float: left;
}

.home-btn {
	position: absolute;
	bottom:0;
	width: 40px;
	height: 40px;
	float: left;
	text-align: center;
	line-height: 35px;
	background-color: white;
}

.home-btn > a {
	position: absolute;
	width: 100%;
	height: 100%;
}

.home-btn :hover {
    background: #619ed3;
	font-color: white;
}

.dropmenu {
	width: 160px;
	height: 40px;

	padding-right: 40px;


}

.dropmenu > li{
	float: left;
	position: absolute;
	bottom: 0px;
	width: 160px;
	height: 40px;
	float: left;
    display: inline-block;
    text-decoration: none;
    background-color:white;
    text-align: center;
	line-height: 35px;
    color: #5d8eaf;

  border:none;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  list-style: none;
  transition: 0.3s;

}

.dropmenu:before, .dropmenu:after{
  content: "";
  display: table;
}
.dropmenu:after{
  clear: both;
}

 .dropmenu:hover > li{
  background-color: rgba(255, 255, 255, .2);
  color: white;
}



.dropmenu li .b-btn{
  display: block;
  margin: 0;
  padding: 15px 0 11px;
  width: 160px;
  background: #fff;
  color: black;
  font-size: 14px;
  line-height: 1;
  text-decoration: none;
  text-align: center;
  border: transparent 1px solid ;
  transition: 0.2s;
}
.dropmenu li ul{
  list-style: none;
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  margin: 0;
  padding: 0;
    border: 1px solid #aaa;
    transition: opacity 0.2s linear;
}
.dropmenu li ul li{
  width: 100%;
}
.dropmenu li ul li .b-btn{
  padding: 13px 15px;
  background: #fff;
  text-align: center;
}
.dropmenu li:hover > .b-btn{
  background: #6e7c0c;
  transition: .2s;
}
.dropmenu li .b-btn:hover{
  	letter-spacing: 3px;
	background-color: #59c5ff;
	color: #fff;
}


#normal li ul{
  display: none;
}
#normal li:hover ul{
  display: block;
}

#dropmenu li ul li{
  overflow: hidden;
  height: 0;
  transition: .2s;
}

#dropmenu li:hover ul li{
  overflow: visible;
  height: 38px;
}

