@CHARSET "UTF-8";

/*
 * フォーム
 *
 */

.form-style {
    margin:120px auto;
    max-width: 800px;
    padding: 5px 5px 0px 5px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}



.form-style input[type=text],
.form-style input[type=email],
.form-style input[type=password],
select{
	height: 30px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border:1px solid #BEBEBE;
    margin:5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style input[type=text]:focus,
.form-style input[type=email]:focus,
.form-style input[type=password]:focus,
.form-style select:focus{
    -moz-box-shadow: 0 0 8px #88D5E9;
    -webkit-box-shadow: 0 0 8px #88D5E9;
    box-shadow: 0 0 8px #88D5E9;
    border: 1px solid #88D5E9;
}

.form-style .field-holder{
    width: 49%;
}



/*
 * マイページtable
 */

#myPage {
	margin: 0 auto;
    width: 700px;

}

#myPage th {
    vertical-align: middle;
    color: #4C5C5D;
    width: 150px;
    border-right: solid 1px #727E82;
    text-align: left;
    font-weight: bold;
    background-color: #DAE1DB;
}

#myPage td {
    vertical-align: middle;
}

#myPage th, td{
	padding: 10px;
}

#myPage td.bar{

    width: 100%;
    border-top: solid 1px #34495e;
}

.form-style #page{
	text-decoration: none;
	float: left;
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
    margin-right: 10px;
}
.form-style #page:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}




/*
 * ボタン
 */

.form-style input[type=submit]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style input[type=submit]:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}


.form-style .back[type=button]{
    background: #4B99AD;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}
.form-style .back:hover{
    background: #4691A4;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
}


/*
 * エラーメッセージ
 */


.error {
	font-size: 12px;
	color:  #f66;
}

